.mainBlock {
    display: flex;
    flex-direction: column;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;

}

.btn {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 7px;
    background-color: white;
    font-size: 13px;

}