.mainBlock {
    display: flex;
    flex-direction: column;
}

.item {

}
.item img {
    flex: auto;
    height: 250px;
    min-width: 150px;
    margin: 0 8px 8px 0;
}

.btn {

    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}