.header {
    height: 80px;
    background-color: #708d7c;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.wrapper {

}
.item {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}
.item img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.text {
    font-size: 14px;
}